.dropdown {
    max-width: fit-content;
    padding: 1rem;
}
.title {
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.title.active {
    border-radius: 5px 5px 0 0;
}
img[alt="dropdown arrow"] {
    height: 15px;
    width: 15px;
    transform: rotateZ(0deg);
    transition: transform 500ms ease;  
}
img[alt="dropdown arrow"].active {
    transform: rotateZ(-180deg);
}
.title:hover {
    cursor: pointer;
}
.listItems {
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 1.5rem;
    background-color: #eee;
    padding: 0 0.5rem;
    margin-top: 0;
    display: none;
    border-radius: 0 0 5px 5px;
}
.listItems.active {
    display: block;
    transform-origin: top;
    animation-name: dropDown;
    animation-duration: 500ms;
    animation-timing-function: ease;
}
li {
    border-bottom: 0.5px solid rgb(130, 130, 130);
}
li:last-child {
    border-bottom: none;
}
li>span {
    font-weight: 600;
}
@keyframes dropDown {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
