.dropdown {
    max-width: fit-content;
    padding: 1rem;
}
.dropdown .title {
    padding: 10px;
    background-color: #eee;
}
img[alt="dropdown arrow"] {
    height: 15px;
    width: 15px;
    transform: rotateZ(0deg);
    transition: transform 500ms ease;  
}
img[alt="dropdown arrow"].active {
    transform: rotateZ(-180deg);
}
.dropdown .title:hover {
    cursor: pointer;
}
.dropdown .listItems {
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 1.3rem;
    display: none;
}
.dropdown .listItems.active {
    display: block;
}
