.dropdown {
    max-width: fit-content;
    padding: 1rem;
}
.dropdown .title {
    margin: 0;
    padding: 0;
}
.dropdown .title:hover {
    cursor: pointer;
}
.dropdown,
.dropdown .listItems {
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 1.3rem;
}
.dropdown ul.inactive {
    display: none;
}